//flex
.d-f
  display: flex


//flex-direction
.fd-c
  flex-direction: column


//justify-content
.jc-c
  justify-content: center

.jc-sb
  justify-content: space-between

.jc-sa
  justify-content: space-around

.jc-fs
  justify-content: flex-start

.jc-fe
  justify-content: flex-end


//align-items
.ai-c
  align-items: center

.ai-fs
  align-items: flex-start

.ai-fe
  align-items: flex-end

.ai-str
  align-items: stretch

.ai-b
  align-items: baseline


//align-self
.als-c
  align-self: center

.als-ss
  align-self: self-start

.als-se
  align-self: self-end

.als-fs
  align-self: flex-start

.als-fe
  align-self: flex-end
