@import '../bin/variables'
@import '../bin/mixins'

$className: btn

.#{$className}
  border: none
  text-align: center
  cursor: pointer
  background: none


//Colors
.#{$className}.green
  background-color: $greenFont
  color: $primaryColor


.#{$className}.green:disabled
  background-color: #87ffb3


.#{$className}.transparent
  background: none
  border: 2px solid $lightBlueFont
  color: $lightBlueFont


.#{$className}.blue
  background-color: $seaWaveFont
  color: $primaryColor


.#{$className}.white
  background-color: $primaryColor
  color: $greenFont


//Shapes
.#{$className}.xs
  padding: 8px 22px
  border-radius: 21px


.#{$className}.sm
  padding: 18px 22px
  border-radius: 26px


.#{$className}.sm-wide
  padding: 15px 30px
  border-radius: 26px


.#{$className}.md
  padding: 23.18px 35px
  border-radius: 37.2px


.#{$className}.lg
  padding: 17px 20px
  border-radius: 26px


.#{$className}.xl
  padding: 22px 106px
  border-radius: 31px
  +r(xs)
   padding: 22px 70px


.#{$className}.rounded
  border: 2px solid #ffffff
  background-color: #ffffff
  border-radius: 50%


.#{$className}.roundedSmall
  width: 58px
  height: 58px
  box-shadow: 0 1px 14px 0 rgba(0,0,0,0.22), 0 11px 13px 0 rgba(0,0,0,0.19)
  +r(sm)
    width: 48px
    height: 48px


.#{$className}.roundedLarge
  width: 115px
  height: 115px
  box-shadow: 0 1px 29px 0 rgba(0,0,0,0.22), 0 23px 26px 0 rgba(0,0,0,0.19)
  +r(lg)
    width: 80px
    height: 80px
  +r(sm)
    width: 65px
    height: 65px


.#{$className}.squared
  padding: 23.18px 35px
