@import '../bin/variables'
@import '../bin/mixins'

$className: btn

.#{$className}
  border: none
  text-align: center
  cursor: pointer


//Colors
.#{$className}.green
  background-color: $greenFont
  color: $primaryColor


.#{$className}.transparent
  background: none
  border: 2px solid $lightBlueFont
  color: $lightBlueFont


.#{$className}.blue
  background-color: $seaWaveFont
  color: $primaryColor


.#{$className}.white
  background-color: $primaryColor
  color: $greenFont


//Shapes
.#{$className}.sm
  padding: 18px 22px
  border-radius: 26px


.#{$className}.sm-wide
  padding: 15px 83px
  border-radius: 26px


.#{$className}.md
  padding: 23.18px 35px
  border-radius: 37.2px


.#{$className}.lg
  padding: 17px 82.80px
  border-radius: 26px


.#{$className}.xl
  padding: 22px 106px
  border-radius: 31px
  +r(xs)
   padding: 22px 70px


