@import '../bin/variables'

.card
  height: 295px
  width: 330px
  background-color: #FFFFFF
  -webkit-box-shadow: $cardShadow
  -moz-box-shadow: $cardShadow
  box-shadow: $cardShadow
  color: $seaWaveFont