@import '../bin/variables'
@import "../../../node_modules/rfs/sass"

.card
  height: 295px
  width: 330px
  background-color: #FFFFFF
  -webkit-box-shadow: $cardShadow
  -moz-box-shadow: $cardShadow
  box-shadow: $cardShadow
  color: $seaWaveFont

.input-lg
  height: 64px
  width: 70%
  border-radius: 31px
  border: none
  background-color: $primaryColor

.input-lg::placeholder
  color: $skyFont
  font-size: 16px
  line-height: 22px
  letter-spacing: 0.05px
  padding-left: 42px
  +r(lg)
    +rfs(20)