@import '../bin/variables'

.sh-header
  box-shadow: $headerShadow

.sh-card
 box-shadow: $cardShadow

.sh-btn-sm
  box-shadow: $buttonShadowSmall

.sh-btn-lg
  box-shadow: $buttonShadowLarge

.sh-btn-exLg
  box-shadow: $buttonShadowExtraLarge

.sh-avatar
  box-shadow: $avatarShadow

.sh-inputLarge
  box-shadow: $inputShadowLarge