@import '../Styles/bin/variables'
@import '../Styles/bin/mixins'

.shape__grey
  fill: #99B0BE
  align-self: center
  width: 30px
  height: 30px

.projectSmall
  +r(lg)
    height: 75px
    width: 76px
  +r(sm)
    height: 60px
    width: 59px

.grantsSmall
  +r(lg)
    height: 75px
    width: 76px
  +r(sm)
    height: 60px
    width: 59px

//.clock__icon
//  svg
//    width: 16px
//    height: 16px

//.logo__icon
//
//  svg
//    width: 180px
//    height: 55.3px
//


//.search__icon_small
//  svg
//    width: 24px
//    height: 24px
//    color: $iconColor
//.search__icon_big
//  svg
//    width: 47px
//    height: 47px
//    color: $iconColor
//.done__icon
//  svg
//    margin-right: 5px
//.search__icon__menu
//  svg
//    width: 24px
//    height: 24px
//    color: #000
//.editIcon
//  svg
//    width: 24px
//    height: 24px
//    margin-bottom: 15px
//    cursor: pointer
//.delIcon
//  svg
//    width: 24px
//    height: 24px
//    cursor: pointer