

label
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.04px
  font-weight: 500
  font-family: "Nunito", sans-serif
  color: #313131
  text-align: left

input, select
  border-radius: 4px
  width: 100%
  padding: 14px 27px 14px 17px
  font-size: 16px
  line-height: 22px
  letter-spacing: 0.05px
  font-weight: 500
  font-family: "Nunito", sans-serif
  color: #313131
  //color: #99B0BE
  outline: none
  background: none

input::placeholder
  font-size: 16px
  line-height: 22px
  letter-spacing: 0.05px
  font-weight: 500
  color: #99B0BE

select
  color: #343434 !important
  font-weight: 500 !important
  
.error
  border-color: red !important
  background-color: #fff7e8 !important

.error-label
  color: red !important

