@import '../../../Styles/bin/variables'
@import '../../../Styles/bin/mixins'
@import "../../../../node_modules/rfs/sass"

.pos
  &-container
    &-content

  &-search
    +r(lg)
      flex-direction: column-reverse

    &__container
      width: 100%

    &__image
      width: 80%

      img
        max-width: 100%

  &-reg
    +r(lg)
      flex-direction: column

    &__container
      width: 100%
      +r(xxl)
      margin-left: 100px

    &__image
      width: 80%

      img
        max-width: 100%


//Adaptation
.block-adapt
  +r(lg)
    align-items: center
    padding: 0 100px
    margin-top: 70px
  +r(sm)
    padding: 0 80px
  +r(xs)
    padding: 0 60px
  +r(xxs)
    padding: 0 35px


  &__container
    +r(lg)
      align-items: center
      margin-top: 36px
      margin-left: 0

  &__image
    +r(xxl)
      width: 60%
    +r(xl)
      width: 55%
    +r(lg)
      width: 60%
      justify-content: center

  &__headline
    +r(xxl)
      font-size: 35px
    +r(xl)
      font-size: 25px
    +r(sm)
      font-size: 20px
    +r(xxs)
      //line-height: 60px

  &__community
    +r(xl)
      font-size: 20px
      line-height: 40px

  &__text
    +r(xxl)
      font-size: 20px
    +r(xl)
      font-size: 18px
    +r(lg)
      font-size: 16px

  &__btn
    +r(xl)
      margin-top: 20px
    +r(lg)
      display: flex
      justify-content: center


.headlines-pos
  +r(lg)
    width: 100%
    text-align: center