.label-wrapper
  padding: 40px
  background-color: #fff
  border-radius: 5px

  &__headline
    h6
      color: #313131
      font-size: 24px
      font-weight: 600
      margin-bottom: 20px

  &__container