@import '../../../../Styles/bin/variables'
@import '../../../../Styles/bin/mixins'
@import "../../../../../node_modules/rfs/sass"


.form-edit
  max-width: 682px
  margin: 0 auto

  &__header
    padding: 40px

  &__submit
    padding: 40px 0

    button
      width: 100%
      min-width: 140px
      max-width: 240px