@import '../../../Styles/bin/variables'
@import '../../../Styles/bin/mixins'
@import "../../../../node_modules/rfs/sass"

.grantsProjects
  &-content
    position: relative
    min-height: 600px
    +r(xxxl)
      padding: 52px 40px
    //+r(xxl)
    //  padding: 52px 40px
    +r(lg)
      padding: 40px 60px
    +r(xxs)
      padding: 10px 0
