.banner
  background-image: url('../../../img/banner/banner.png')
  -webkit-background-size: cover
  background-size: cover
  height: 582px

  &-container

    &-content
      width: 100%

      .banner-headlines
      
        h1
          text-align: left

      .banner-search-block
