
.inputBlock
  margin-bottom: 20px
  display: flex
  flex-direction: column

.inputBlock_texInput

  input
    border: 1px solid #C8D1D6
    border-radius: 4px

  input:focus
    border-color: #3c3f41









