@import '../../../../Styles/bin/variables'
@import '../../../../Styles/bin/mixins'
@import "../../../../../node_modules/rfs/sass"


.header-changeGroup

  .changeGroup-class
    +r(xl)
      margin-right: 35px
    +r(lgx)
      margin-right: 25px
    +r(lg)
      margin-right: 20px
    +r(sm)
      font-size: 14px
      padding: 10px 15px !important
      margin-right: 12px
    +r(xs)
      padding: 10px 11px !important
      font-size: 12px
    +r(xxs)
      padding: 8px 6px !important
      font-size: 10px

  &__create

  &__signIn

  &__join

