@import '../../../Styles/bin/variables'
@import '../../../Styles/bin/mixins'
@import "../../../../node_modules/rfs/sass"


.about-profile

  &__container

  &__info-block
    background-color: #fff
    border-radius: 5px
    box-shadow: 0 2px 4px rgba(0,0,0,.5)
    max-width: 680px
    width: 100%
    margin: 0 auto
    padding: 30px

  &__not-required-params

  &__link
    a
     color: #337ab7 !important

  &__link:hover
    a
      color: #254977 !important